language: node_js
node_js:
- '10'
cache:
  directories:
  - node_modules
install:
- npm install nyc -g
before_script:
- curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
- chmod +x ./cc-test-reporter
- ./cc-test-reporter before-build
script:
- nyc --reporter=lcov npm run test:ci
after_script:
- ./cc-test-reporter after-build