version: 2.1

commands:
  install-deps:
    steps:
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: npm install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

jobs:
  lint:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - install-deps
      - run: npm run lint

  typecheck:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - install-deps
      - run: npm run typecheck

  build:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - install-deps
      - run: npm run build

  test:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - install-deps
      - run: npm test

  release:
    docker:
      - image: cimg/node:lts
    environment:
      GITHUB_TOKEN: ${GITHUB_TOKEN}
      NPM_TOKEN: ${NPM_TOKEN}
    steps:
      - checkout
      - install-deps
      - run:
          name: Configure Git User
          command: |
            git config --global user.email "m.gabriele.dev@gmail.com"
            git config --global user.name "Matteo Gabriele"
      - run:
          name: Configure Git Authentication
          command: |
            git config --global credential.helper 'cache --timeout=120'
            git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/MatteoGabriele/vue-gtag.git
      - run:
          name: Configure NPM Authentication
          command: |
            echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
      - run: npx semantic-release

workflows:
  version: 2
  verify-test-and-release:
    jobs:
      - lint
      - typecheck:
          requires:
            - lint
      - build:
          requires:
            - typecheck
      - test:
          requires:
            - build
      - release:
          requires:
            - test
          filters:
            branches:
              only: master
